body {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

p {
    margin: 4px;
}

input {
    width: 240px;
}

#gridselection {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

#gridsize {
    padding: 8px 0;
}

#gridcontainer {
    display: flex;
    /* arranges all containers in a column */
    flex-direction: column;
    /* aligns all items to the center in the main axis (vertical direction) */
    justify-content: center;
    /* stretches all containers to max width in cross axis (horizontal direction) */
    align-items: stretch;
    /* set max height and width */
    width: 600px;
    height: 600px;
    /* align the container to center */
    margin: 0 auto;
}

.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    /* sets all squares to stretch to fill container size */
    align-items: stretch;
}

.square {
    flex: 1 1 auto;
    border: 1px solid lightgray;
}

#clear {
    margin: 8px;
}