body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

.container {
    height: 40px;
    justify-content: center;
    display: flex;
}

.square {
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
}

.hover {
    background-color: black;
}